
.logo{
    height: 100px;
    width: 100px;
    border-radius:50%;
    margin-top:15px;
    margin-bottom:15px;
    box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.52);
    -webkit-box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.52);
}

.appBarColorBg{
    background: rgb(255,56,207);
    background: linear-gradient(360deg, rgba(255,56,207,1) 0%, rgba(33,37,41,1) 100%);
}

.btnMenuColor{
    margin: 5px !important; 
    border: 0px !important;
}

.btnMenuColor:hover{
    background: rgba(255,255,255,75%) !important;
    color: #6a1b9a;
}

.shopIcon{
    position: relative;
    margin-right: 100px !important; 
    margin: 0 auto;
    width: 40px !important;
    height: 40px !important;
    padding: 8px;
}

.shopIcon:hover{
    cursor: pointer;
    color: #db28f3;
    background: rgba(255,255,255,99%);
    border-radius: 50%;
    padding: 8px;

}